$('#modalClientes').modal('toggle');
$('#tablaClientes').append(
    '<tr id="cliente_<%= @cliente.id %>" ><td><%= @cliente.nome %></td><td><%= link_to 'editar', edit_cliente_path(@cliente), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Deletar", @cliente, remote: true, method: :delete, data: { confirm: "Deletar Cliente?: #{@cliente.nome}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);