<div id="<%= dom_id project %>" class="scaffold_record">

  <p>
    <strong>image:</strong>
    <%= image_tag project.image %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= project.description %>
</p>

</div>
